@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f9fafb inset !important;
  box-shadow: 0 0 0 30px #f9fafb inset !important;
  -webkit-text-fill-color: #111827 !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #2a2a2a inset !important;
  box-shadow: 0 0 0 30px #2a2a2a inset !important;
  -webkit-text-fill-color: #e5e2e1 !important;
}

button {
  cursor: pointer;
}
